params {
    options.STAR = '--outReadsUnmapped Fastx'
}

process {
    withLabel : Samtools_1_10_Faidx {
      time = '30m'
      memory = '12G'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'
    }
    withLabel : CreateLen {
      time = '5m'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'
    }
    withLabel : CreateBed {
      time = '5m'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'
    }
    withLabel : CreateIntervalList {
      time = '5m'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'
    }
    withLabel : CreateChrFiles {
      time = '1h'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'
    }
    withLabel : AGAT_0_8_1_ConvertGffToGtf {
      time = '1h'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'
    }
    withLabel : PICARD_2_22_0_CreateSequenceDictionary {
      time = '1h'
      memory = '8G'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'
    }
    withLabel : STAR_2_7_3a_GenomeGenerate {
          time = '24h'
          //time = '4h'
          penv = 'threaded'
          cpus = 12
          memory = '150G'
          //cpus = 4
          //memory = '15G'
          //publishDir.path = "${params.star_path}"
          publishDir.path = "${params.out_dir}/star_genome"
          publishDir.mode = 'copy'
     }
    withLabel : BWA_0_7_17_Index {
      params.bwaindex.mem = '32G'
      params.bwaindex.optional = '-a bwtsw'
      cpus = 1
      memory = params.bwaindex.mem
      time = '12h'
      publishDir.path = "${params.out_dir}"
      publishDir.mode = 'copy'

    }
}
